*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    overflow-y: hidden;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #ffcc00; 
    padding: 2vh;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

nav button {
    padding: 2vh;
    background-color: #007bff; 
    color: white;
    border: none;
    cursor: pointer;
    width: 15vw;
    margin: 0 1vh; 
    border: 1px black;
}

nav button:hover {
    background-color: #0056b3;   
}

main {
    height:90vh; /* Ajusta el tamaño según tu diseño */
    overflow-y: auto; /* Activa la barra de scroll solo en el eje vertical */
    overflow-x: hidden; /* Evita scroll horizontal si no es necesario */
    padding: 16px; /* Espaciado interno opcional */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
    background-color: #f4f4f4; 
}

section.pokedex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vh;
}

section.pokedex img {
    width: 100%;
    border-radius: 0.5vh;
    box-shadow: 0 0.2vh 0.5vh rgba(0,0,0,0.2);
}

section.pokedex-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 3vh;
}

section.pokedex-item img {
    height: 35vh;
    border-radius: 0.5vh;
    box-shadow: 0 0.2vh 0.5vh rgba(0,0,0,0.2);
}


section.pokedex-item input {
    margin-top: 1vh;
    margin-left: 1vh; 
    padding: 0.5vh; 
    width: 100%; 
    border: 0.1vh solid #ccc; 
    border-radius: 0.5vh; 
    background-color: #f9f9f9; 
}

