* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: #ffcc00; 
    box-shadow: 0.2vh 0 0.5vh rgba(0,0,0,0.1);
}

nav button { 
    background-color: #007bff; 
    color: white;
    border: none;
    cursor: pointer;
    width: 15vw;
    height: 5vh;
    border: 1px black;
}

nav button:hover {
    background-color: #0056b3;   
    transform: scale(1.2);
    z-index: 1;
    transition: all 0.3s;
}

main {
    flex-grow: 1;
    width: 100vw;
    height: 85vh;
    overflow-y: auto; 
    overflow-x: hidden; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url(/sources/Fondo6.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    color: #ffffff;
}
section.dibujos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vh;
}
section.peliculas{
    background-color: rgba(73, 72, 72, 0.7); 
}

.peliculas input{
    background-color: rgba(249, 249, 249, 0); 
    border: 0;
    width: 95%;
    text-align: center;
    color: #ffffff;
}

.dibujos img {
    display: flex;
    justify-self: center;
    height: 20vh;
    border-radius: 5px;
    box-shadow: 0 0.2vh 0.5vh rgba(0,0,0,0.2);
}
footer{
    display: flex;
    background-color: #ffcc00;
    height: 5vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
main h1{
    font-size: 10vh;
    text-align: center;
    color: rgb(255, 255, 255);
}
p, .cabecera{
    text-size-adjust: 16px;
}
.peliculas:hover{
    transform: scale(1.2);
    z-index: 1;
    transition: all 0.3s;
}

@media(max-width:768px){

    *{
        font-size: 1.6vw;
    }
    footer{
        font-size: 1.6vw;
    }
    section.dibujos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5vh;
    }
}