* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    overflow-y: hidden;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: #ffcc00; 
    box-shadow: 0.2vh 0 0.5vh rgba(0,0,0,0.1);
}

nav button {
    background-color: #007bff; 
    color: white;
    border: none;
    cursor: pointer;
    width: 15vw;
    height: 5vh;
    border: 1px black;
}

nav button:hover {
    background-color: #0056b3;   
    transform: scale(1.2);
    z-index: 1;
    transition: all 0.3s;
}


main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 85vh; 
    overflow-y: auto; 
    overflow-x: hidden; 
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url(/sources/Fondo6.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    justify-content: space-around;

}

.history {
    max-width: 100vh;
    width: 100%;
    background: white;
    border-radius: 1vh;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
    margin-bottom: 2vh;
}
article h2 {
    font-size: 1.8rem;
    color: #007bff;
    border-bottom: 0.2vw solid #007bff;
    padding-bottom: 0.5vw;
    margin-bottom: 1.5vw;
}

ul {
    margin: 1vw 0;
    padding-left: 2vw;
    list-style: square;
}

li {
    margin-bottom: 1vw;
}

.history p {
    text-align: justify;
}

footer {
    font-size: 1vw;
    display: flex;
    background-color: #ffcc00;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

@media(max-width:768px){

    *{
        font-size: 1.6vw;
    }
    footer{
        font-size: 1.6vw;
    }
    main {
        display: block;
        justify-content: center;
        align-items: flex-start;
        height: 85vh; 
        overflow-y: auto; 
        overflow-x: hidden; 
        box-sizing: border-box;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url(/sources/Fondo6.jpg);
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center;
        justify-content: space-around;
    
    }
}