*{
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    overflow-y: hidden;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98.1vw;
    background-color: #ffcc00; 
    padding: 2vh;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

nav button {
    padding: 2vh;
    background-color: #007bff; 
    color: white;
    border: none;
    cursor: pointer;
    width: 15vw;
    margin: 0 5vh; 
    border: 1px black;
}

nav button:hover {
    background-color: #0056b3;   
    transform: scale(1.2);
    z-index: 1;
}

main {
    padding: 2vh;
    flex-grow: 1;
    height: 81vh;
    width: 98.1vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url(/sources/Fondo6.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    color: #ffffff; 
}

.dibujos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15vh, 1fr));
    gap: 1vh;
}

.dibujos img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0.2vh 0.5vh rgba(0,0,0,0.2);
}
footer{
    display: flex;
    background-color: #ffcc00;
    height: 5vh;
    align-items: center;
    justify-content: center;
}