* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    overflow-x: hidden;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: #ffcc00; 
    box-shadow: 0.2vh 0 0.5vh rgba(0,0,0,0.1);
}

button {
    background-color: #007bff; 
    color: white;
    border: none;
    cursor: pointer;
    width: 15vw;
    height: 5vh;
    border: 1px black;
}

button:hover {
    background-color: #0056b3;   
    transform: scale(1.2);
    z-index: 1;
    transition: all 0.3s;
}

main {
    height: 85vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url(../sources/Fondo6.png) ;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

section#datos {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 3vh;
    padding-right: 1vh;
    border: 0.1vh solid #ccc; 
    border-radius: 2vh;
    background-color: rgba(249, 249, 249, 0.5); 
    font-weight: bold;
    width: 20%;
    height: 20%;
}

.enviara{
    color: #f0f8ff;
    font-weight: bold;
}
a{
    color: #f0f8ff;
}
footer {
    display: flex;
    background-color: #ffcc00;
    height: 5vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    color: black;
}