* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    overflow-y: hidden;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: #ffcc00; 
    box-shadow: 0.2vh 0 0.5vh rgba(0,0,0,0.1);
}

nav button {
    background-color: #007bff; 
    color: white;
    border: none;
    cursor: pointer;
    width: 15vw;
    height: 5vh;
    border: 1px black;
}

nav button:hover {
    background-color: #0056b3;   
    transform: scale(1.2);
    z-index: 1;
}

main {
    flex-grow: 1;
    width: 100vw;
    height: 81vh;
    overflow-y: auto; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url(/sources/Fondo6.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    color: #ffffff;
}

section.pokedex {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1vh;
}

section.pokedex img {
    width: 100%;
    border-radius: 0.5vh;
}

section.pokedex-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 3vh;
    padding-right: 1vh;
    border: 0.1vh solid #ccc; 
    border-radius: 2vh;
    background-color: rgba(249, 249, 249, 0.5); 
}

section.pokedex-item img {
    height: auto;
    border-radius: 0.5vh;
}


section.pokedex-item input {
    margin-top: 1vh;
    margin-left: 1vh; 
    width: 100%; 
    border: 0.1vh solid #ccc; 
    border-radius: 0.5vh; 
    background-color: rgba(249, 249, 249, 0.7); 
    font-weight: bold;
    text-align: center;
}

footer {
    display: flex;
    background-color: #ffcc00;
    height: 5vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
#titulo{
    font-size: 10vh;
    text-align: center;
    color: rgb(255, 255, 255);  
}

@media(max-width:768px){
    *{
        font-size: 1.6vw;
    }
    section.pokedex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1vh;
    }
}